[tool.poetry]
name = "transmission-clutch"
version = "2.0.0.dev2"
description = "An RPC client library for the Transmission bittorrent client"
authors = ["mhadam <michael@hadam.us>"]
license = "MIT"
packages = [{ include = "clutch" }]

[tool.poetry.dependencies]
python = "^3.6"
requests = "^2.22.0"

[tool.poetry.dev-dependencies]
pytest = "^4.6"
mypy = "^0.761"
pylint = "^2.4.4"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
