[tool.poetry]
name = "transmission-clutch"
version = "1.0.6.dev0"
description = "Transmission RPC for Python"
authors = ["mhadam <michael@hadam.us>"]
license = "MIT"
packages = [{ include = "clutch" }]

[tool.poetry.dependencies]
python = "^2.7"
requests = "^2.23.0"
six = "^1.14.0"

[tool.poetry.dev-dependencies]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
